{% extends 'home.html' %}
{% block title %} About - Dunfermline Men's Shed{% endblock  %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{{url_for('static', filename='forthBridge2.jpg')}}" alt="Forth Rail Bridge">
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>      
    </div>

    <div class="item">
      <img src="{{url_for('static', filename='abbey.png')}}" alt="Dunfermline Abbey">
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>      
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container text-center">    
  <h3>About Us</h3><br>
  <div class="row">
    <div class="well">
      <p>Meet the members of the Dunfermline Men's Shed team! Here, you can read about the faces you'll be seeing around the
      shed, and get to know what each member does.</p>
    </div>

    <div class="col-sm-4"> 
      <p><img src="{{url_for('static', filename='ronskirving-deltadigital.jpg')}}" style="height:400px" alt="Ron Skirving">
      <p>Ron Skirving</p>
      Ron is our Chairman and keeps everything running smoothly. 
      He also provides web and e-mail support. As a digital consultant, 
      Ron advises on marketing the Dunfermline Men's Shed to the local community.
      He is also a Trustee of the Dunfermline Men's Shed charity.  
    </div>


    <div class="col-sm-4"> 
      <p><img src="{{url_for('static', filename='mikeRowlinson.jpg')}}" style="height:400px" alt="Mike Rowlinson">
      <p>Mike Rowlinson</p>
      Mike is our Secretary and is responsible for recording of the minutes at Dunfermline
      Men's Shed  meetings, He also handles communications including incoming calls and
      emails. Mike also helps with enewsletters, administration of our website and membership
      subscription. He is also a Trustee of the Dunfermline Men's Shed charity.   
    </div>

    <div class="col-sm-4"> 
      <p><img src="{{url_for('static', filename='richardLawrence.jpg')}}" class="img-responsive" style="height:400px" alt="Richard Lawrence"></p>
      <p>Richard Lawrence</p>
      Richard is  the Dunfermline Men's Shed  Business Advisor. He has a great deal of experience in the 3rd sector and funding applications. He also works with leather and has already provided
      us with a demonstration! He is also a Trustee of the Dunfermline Men's Shed charity.    
    </div>

    
  </div>
  <div class="row">
    <div class="col-sm-4"> 
      <p><img src="{{url_for('static', filename='jimMyles.jpg')}}" class="img-responsive" style="height:400px" alt="Jim Myles"></p>
      <p>Jim Myles</p>
      Jim is our treasurer and is responsible for finance. As well as setting up our bank account
      and applying for council funding. He is also responsible as a Trustee for managing Dunfermline Men's Shed    
    </div>

    <div class="col-sm-4"> 
      <p><img src="{{url_for('static', filename='neilLyndon.jpg')}}" class="img-responsive" style="height:400px" alt="Neil Lyndon"></p>
      <p>Neil Lyndon</p>
      Neil is responsible for suggesting having a Men's Shed in Dunfermline after making the regular journey to Glenrothes Men's Shed. 
      He is a journalist and writer with a distinguished career at the BBC, Sunday Times and the Telegraph.   
    </div>

    <div class="col-sm-4"> 
      <p><img src="{{url_for('static', filename='AllyCraig.jpg')}}" class="img-responsive" style="height:400px" alt="Ally Craig"></p>
      <p>Ally Craig</p>
      Ally is responsible for all Technical and Compliance issues in our TAC Group including Tool Testing and Health and Safety. 
      He brings experience of workshop management and planning in both industry and education.   
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4"> 
      <p><img src="{{url_for('static', filename='robinSharp.jpg')}}" class="img-responsive" style="height:400px" alt="Robin Sharp"></p>
      <p>Robin Sharp</p>
      Robin is the Deputy Chair of Dunfermline Men's Shed and helps with 
      business planning funding and attending our Steadings User Group Meetings.   
    </div>

    <div class="col-sm-4"> 
      <p><img src="{{url_for('static', filename='alastairwood.jpg')}}" class="img-responsive" style="height:400px" alt="Alastair Wood"></p>
      <p>Alastair Wood</p>
      Alastair is one of the newest members of the Committee and will be helping with business planning. 
      He has over 30 years experience mentoring businesses and teaching finance and business management.
    </div>

    <div class="col-sm-4"> 
      <p><img src="{{url_for('static', filename='vacancy.jpg')}}" class="img-responsive" style="height:400px" alt="Vacancy"></p>
      <p>Vacancy</p>
      If you are interested in joining the Committee and have skills you can offer in our quest for a facility to serve the community, 
      please contact us via the "support" tab at the top of the page.
    </div>
  </div>
</div>
<br>
{% endblock content %}