{% extends 'home.html' %}
{% block title %} Booking - Dunfermline Men's Shed{% endblock  %}
{% block content %}

<div class="container text-center">    
  <h3>Booking Portal</h3><br>
  <div class="row">
  <div class="well">
       <p>
	   Book a tool or resource here. Please Login first
		</p>
    <h3> currently in development</h3>
      </div>
  </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('booking') }}">
  {{ form.csrf_token }}
  <div class="form-group">
    {{ form.name.label }}
    {{ form.name }}
  </div>
  <div class="form-group">
    {{ form.item_id.label }}
    {{ form.item_id }}
  </div>
  <div class="form-group">
    {{ form.booking_date.label }}
    {{ form.booking_date }}
  </div>
  <div class="form-group">
    {{ form.start_time.label }}
    {{ form.start_time }}
  </div>
  <div class="form-group">
    {{ form.end_time.label }}
    {{ form.end_time }}
  </div>
  <button type = "submit" class="btn btn-primary">{{ form.submit.label }}</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Booking ID</th>
      <th>User Name</th>
      <th>Item ID</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    {% for booking in booking %}
      <tr>
        <td>{{ booking.BookingID }}</td>
        <td>{{ booking.userName }}</td>
        <td>{{ booking.itemID }}</td>
        <td>{{ booking.Booked_for_day }}</td>
        <td>{{ booking.Booked_for_start }}</td>
        <td>{{ booking.booked_out_till }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock %}
