<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='shed.css')}}">
<title>Page Title</title>
</head>
<body>

<h1>Dunfermline Men's Shed</h1>

<ul>
  <li><a href="{{ url_for('home')}}">Home</a></li>
  <li><a href="{{ url_for('about')}}">About</a></li>
  <li><a href="{{ url_for('booking')}}">Booking</a></li>
  <li><a href="{{ url_for('resource')}}">Resource Library</a></li>
  <li><a href="{{ url_for('support')}}">Support</a></li>
</ul>

<p>Welcome!</p>

<img src="{{ url_for('static', filename='men-at-work.jpg')}}" alt="Workers" height="300">

</body>
</html>
