{% extends 'home.html' %}
{% block title %} Login - Dunfermline Men's Shed{% endblock  %}
{% block content %}
<div class="container text-center">    
  <h3>Login</h3><br>

  <div class="well">
    <p> Here, you can login to your account</p>
		<form action="" method="post">
		<label for="uname">Username:</label><br>
		<input type="text" id="uname" name="uname"><br>
		<br><br>
		<label for="pword">Password:</label><br>
		<input type="text" id="pword" name="pword" ><br>
		</form>
	</p>
	<input class="btn btn-default" type="submit" value="Login"> 
    <br><br>
	
    <p></p>Error:</strong> {{ error }}
	
  </div>
</div>
{% endblock %}
