<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login - Dunfermline Men's Shed</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
	  background-color: #0049ac;
	  color: white;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
 
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
          <img src="https://dunfermlineshed.org.uk/data/files/dms-logo-crest-trans.png" class="img-responsive" style="width:7.5%" alt="Image">
          <li class="active"><a href="{{ url_for('home')}}">Home</a></li>
          <li><a href="{{ url_for('about')}}">About</a></li>
          <li><a href="{{ url_for('booking')}}">Booking</a></li>
          <li><a href="{{ url_for('resource')}}">Resource Library</a></li>
      <li><a href="{{ url_for('support')}}">Support</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>


  
<div class="container text-center">    
  <h3>Login</h3><br>
  <div class="row">
  <div class="well">
       <p>Here, you can login to your account, or create one if you don't have one yet. </p>
      </div>
  
   <div class="col-sm-4"> 
      <p>Login In
	  <br><br>
		If you already have an account, please log in here:
		<br><br>
		<form>
		<label for="uname">Username:</label><br>
		<input type="text" id="uname" name="uname" ><br>
		<br><br>
		<label for="pword">Password:</label><br>
		<input type="text" id="pword" name="pword" ><br>
		</form>
	  </p>    
	  <input type="submit" value="Submit">
    </div>
	
    <div class="col-sm-4"> 
      <p>Don't have an account? Sign up here:
	  <br><br>
		<form>
		  <label for="fname">Username:</label><br>
		  <input type="text" id="fname" name="fname" ><br>
		  <label for="pass">Password:</label><br>
		  <input type="text" id="pass" name="pass"><br>
		  <label for="confirm">Confirm Password:</label><br>
		  <input type="text" id="confirm" name="confirm"><br>
		  <label for="email">E-Mail:</label><br>
		  <input type="text" id="email" name="email"><br>
		  <br>
		  <input type="submit" value="Submit">
		</form>
	  </p>    
    </div>
	
	<div class="col-sm-4"> 
      <p>Having problems? For issues such as changing passwords, setting up your account, head to the support page to contact us</p>
	  <br><br>
	  
		
	  </p>    
    </div>
<br>
</div><br>


<footer class="container-fluid text-center">
  <p>Copyright ©2022 Dunfermline Men's Shed, All Rights Reserved.  
	Registered Charity SC051302.</p>
</footer>


</body>


</html>
