{% extends 'home.html' %}
{% block title %} Resource Library - Dunfermline Men's Shed{% endblock  %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{{url_for('static', filename='tools.jpg')}}" alt="Tools">
        <div class="carousel-caption">
        </div>      
      </div>

      <div class="item">
        <img src="{{url_for('static', filename='tools.jpg')}}" alt="Tools">
        <div class="carousel-caption">
       
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
  
<div class="container text-center">    
  <h3>Resource Library</h3><br>
  <div class="row">
  <div class="well">
       <p>
	   Here, you can view the tools and resources which the Men's Shed offers
		</p>
      </div>
	  
    <div class="col-sm-4"> 
      <img src="{{url_for('static', filename='toolbox.jpg')}}" width="350" height="350" alt="Tools">
      <p>Tool Library
	  <br><br>
		The Men's Shed offers many tools for its members. Here, you can view what we have to offer.
	  </p>    
    <h1>Search for a tool</h1>

    <form method="POST" action="{{ url_for('search') }}">
      {{ form.csrf_token }}
      {{ form.search.label }} {{ form.search(size=20) }} {{ form.submit() }}
    </form>
  
    {% if results %}
      <h2>Results</h2>
      <ul>
        {% for tool in results %}
          <li>{{ tool.item }} - {{ tool.catagory }} - {{ tool.date_listed }} - {{ tool.picture}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>	
	
<div class="col-sm-4"> 
      <img src="https://via.placeholder.com/350x350?text=Books" alt="Image">
      <p>Books Library
	  <br><br>
		View our selection of books, magazines and other reading materials
	  </p>    
    </div>		
	
<div class="col-sm-4"> 
      <img src="https://via.placeholder.com/350x350?text=Games" alt="Image">
      <p>Board Games Library
	  <br><br>
		View our selection of board games
	  </p>    
    </div>			
 
  </div>
</div>
{% endblock %}