{% extends 'home.html' %}
{% block title %} Resource Library - Dunfermline Men's Shed{% endblock  %}
{% block content %}
<div class="container text-center">    
  <h3>Support</h3><br>
  <div class="row">
  <div class="well">
       <p>If you are having any problems, or would like to talk to our team, please refer to the below methods </p>
      </div>
  
   <div class="col-sm-4"> 
      <p>Phone Us
	  <br><br>
		Our secretary on the committee is Mike Rowlinson, and he is mpre than happy to take your call on 01383 650355. 
	  </p>    
    </div>
	
    <div class="col-sm-4"> 
      <p>Support form
	  <br><br>
		<form>
		  <label for="fname">First name:</label><br>
		  <input type="text" id="fname" name="fname" ><br>
		  <label for="lname">Last name:</label><br>
		  <input type="text" id="lname" name="lname"><br>
		  <label for="email">E-Mail:</label><br>
		  <input type="text" id="email" name="email">
		  <br>
		  <input type="submit" value="Submit">
		</form>
	  </p>    
    </div>
	
	<div class="col-sm-4"> 
      <p>Frequently Asked Questions
	  <br><br>
	  We meet in the Community Hub meeting room in the Steadings, Pittencrieff Park, every Wednesday.<br>
	  Meetings start at 2pm and finish at 4pm.<br>
	  To find out more, just come along to our weekly meeting, enjoy a cup of tea or coffee in the company of our 37 full members. Only after a couple of meetings 
	  will you be asked if you wish to join as a full member.<br>
	</div>
{% endblock  %}
