{% extends 'home.html' %}
{% block title %} Tools - Dunfermline Men's Shed{% endblock  %}
{% block content %}
    <h1>Search for a tool</h1>
    
    <form method="POST" action="{{ url_for('search') }}">
    {{ form.csrf_token }}
    {{ form.search.label }} {{ form.search(size=20) }} {{ form.submit() }}
    </form>

    {% if results %}
    <h2>Results</h2>
    <ul>
        {% for tool in results %}
        <li>{{ tool.item }} - {{ tool.catagory }} - {{ tool.date_listed }} - {{ tool.picture}}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock content %}